audacity
BetterDiscord
BetterDiscord Installer
cava
Code
CurseForge
discord
Electron
Elinks
fyne
GIMP
go
godot
google-chrome
google-chrome-for-testing
kitty
libreoffice
LosslessCut
ngrok
obs-studio
openttd
playit_gg
chromium
hexchat
